In [2]:
# Import the dependencies.
import pandas as pd
import gmaps 
import requests

# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kodiak,US,2022-04-26 19:17:36,57.7900,-152.4072,45.91,53,100,12.66
1,1,Rikitea,PF,2022-04-26 19:17:36,-23.1203,-134.9692,78.24,75,100,22.26
2,2,Seoul,KR,2022-04-26 19:17:37,37.5683,126.9778,60.19,30,0,9.22
3,3,Dukat,RU,2022-04-26 19:17:37,62.5500,155.5500,12.52,95,100,4.09
4,4,Maceio,BR,2022-04-26 19:13:54,-9.6658,-35.7353,78.24,78,75,18.41
...,...,...,...,...,...,...,...,...,...,...
572,572,Laguna,US,2022-04-26 19:29:49,38.4210,-121.4238,74.14,40,0,6.91
573,573,Soyo,AO,2022-04-26 19:33:27,-6.1349,12.3689,78.39,89,100,7.23
574,574,Nantucket,US,2022-04-26 19:31:11,41.2835,-70.0995,53.71,81,100,10.36
575,575,Karwar,IN,2022-04-26 19:33:27,14.8000,74.1333,81.52,80,19,1.32
576,576,Hun,LY,2022-04-26 19:33:28,29.1268,15.9477,80.83,14,70,17.92

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [102]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Assign the locations to an array of latitude and logitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap_layer variable to the heatmap_layer and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [104]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [105]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [106]:
# Heatmap of Wind Speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [108]:
# Ask the customer to add minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 98

In [109]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-04-26 19:17:36,-23.1203,-134.9692,78.24,75,100,22.26
4,4,Maceio,BR,2022-04-26 19:13:54,-9.6658,-35.7353,78.24,78,75,18.41
7,7,Atuona,PF,2022-04-26 19:17:38,-9.8000,-139.0333,78.93,75,24,23.82
9,9,Tabou,CI,2022-04-26 19:15:38,4.4230,-7.3528,81.43,81,100,6.11
12,12,Arraial Do Cabo,BR,2022-04-26 19:17:40,-22.9661,-42.0278,82.36,83,0,16.11

In [110]:
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [111]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""

hotel_df.head()

C:\Users\Bryan\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

               City Country  Max Temp      Lat       Lng Hotel Name
1           Rikitea      PF     78.24 -23.1203 -134.9692
4            Maceio      BR     78.24  -9.6658  -35.7353
7            Atuona      PF     78.93  -9.8000 -139.0333
9             Tabou      CI     81.43   4.4230   -7.3528
12  Arraial Do Cabo      BR     82.36 -22.9661  -42.0278

In [112]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

C:\Users\Bryan\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [113]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,78.24,-23.1203,-134.9692,People ThankYou
4,Maceio,BR,78.24,-9.6658,-35.7353,Hotel Ponta Verde MaceiÃ³
7,Atuona,PF,78.93,-9.8000,-139.0333,Villa Enata
9,Tabou,CI,81.43,4.4230,-7.3528,hotÃªl doufoulougou
12,Arraial Do Cabo,BR,82.36,-22.9661,-42.0278,Pousada Porto Praia
...,...,...,...,...,...,...
566,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
569,Puerto Carreno,CO,91.38,6.1890,-67.4859,Casa Hotel Victoria
573,Soyo,AO,78.39,-6.1349,12.3689,Hotel Mpampa
575,Karwar,IN,81.52,14.8000,74.1333,Netalco Connects
576,Hun,LY,80.83,29.1268,15.9477,Alrwasi Hotel

In [83]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [87]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
WeatherPy_vacation_map.png